html, body {
  height: 100%;
  margin: 0;
  background: $base-colour;
  color: $secondary-colour;
  padding: 0;
}

/* @group elements */

a, u {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
strong {
  line-height: 1em;
  margin: $base-padding / 2 0;
}
/* @end elements */

/* @group tweetsContainer */

.tweet-display {
  margin-top: 100px;
  font-size: $base-font-size * 3;
}

.sentiment-btn {
  margin-top: 25px;
}

.tweets-container {
  padding: 10px;
}

.tweet-buttons {
  display: flex;
  justify-content: center;

  > :first-child {
    margin-right: 5px;
  }

  > :last-child {
    margin-left: 5px;
  }
}

/* @end tweetsContainer */


