@import '_variables.scss';

html, body {
  height: 100%;
  background-color: $brand-primary;
  color: $brand-light;
  font-family: $base-font;
  font-weight: $font-light;
  margin: 0;
  padding: 0;
}

/* @group elements */

a, u {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
strong {
  line-height: 1em;
  margin: $base-padding / 2 0;
}

/* @end elements */


/* @group text */
.t-sm {
  font-size: $small-font-size;
}
.t-m {
  font-size: $base-font-size;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

/* @end text */

/* @group margin */
.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

/* @end margin */


/* @group padding */
.pd-1 {
  padding: $base-padding / 2;
}
.pd-2 {
  padding: $base-padding;
}
.pd-3 {
  padding: $base-padding * 2;
}
/* @end padding */


/* @group card */

.card {
  background-color: $brand-light;
  color: $grey;
  font-size: $base-font-size;
  border-radius: 2px;
  margin: 1rem;
  position: relative;
  padding: $base-padding;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/* card animations */

.card-anim-enter {
  opacity: 0.01;
}

.card-anim-enter.card-anim-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.card-anim-leave {
  opacity: 1;
}

.card-anim-leave.card-anim-leave-active {
  opacity: 0.01;
  transition: opacity 700ms ease-out;
}

/* @end card */

/* @group header */

.header {
  text-align: center;
  font-family: $header-font;
  font-size: $base-font-size * 4;
  font-weight: $font-regular;
  color: $grey;
  // color: $brand-light;
}

/* @end header */


/* @group loading spinner */

.single6 {
    display: table;
    margin: 0 auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #6ca69f;
    -webkit-animation: single6 1s infinite ease-in;
    animation: single6 1s infinite ease-in;
 }

 @-webkit-keyframes single6 {
    0% {
       -webkit-transform: scale(0);
       transform: scale(0);
       opacity: 1;
    }
    100% {
       -webkit-transform: scale(1);
       transform: scale(1);
       opacity: 0;
    }
 }

 @keyframes single6 {
    0% {
       -webkit-transform: scale(0);
       transform: scale(0);
       opacity: 1;
    }
    100% {
       -webkit-transform: scale(1);
       transform: scale(1);
       opacity: 0;
    }
 }
/* @end loading spinner */
