html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* @group elements */

a, u {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
strong {
  line-height: 1em;
  margin: $base-padding / 2 0;
}

/* @end elements */


